.background {
  background-image: url('../../../assets/images/background_login.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card {
  background: #333237 !important;
  border: 1px solid white !important;
}

.card-title {
  color: white !important;
  margin-bottom: 0 !important;
}

.text-muted,
.text-white {
  color: white !important;
}

.btn-primary {
  background: rgba(1, 50, 154, 1) !important;
  border: none !important;
}

.btn-primary:hover {
  background: rgb(1, 28, 86) !important;
  border: none !important;
}

.container-title {
  background-color: #01329a;
  border-radius: 30px;
  border: 1px solid white !important;
}

.imgIcon {
  width: 30px;
}

.loading {
  display: none;
}

.register_btn {
  cursor: pointer;
  color: blue;
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
