name: Notifier_PR

on:
    pull_request:
      types: [opened, reopened, review_requested]
      branches: [main, dev]
jobs:
    messageSlack:
      runs-on: ubuntu-latest
      steps:
        - name: Notification Slack
          uses: rtCamp/action-slack-notify@v2
          with:
            fields: repo,message,commit,author,action,eventName,ref,workflow,job,took
          env:
            SLACK_CHANNEL: github
            SLACK_TITLE: Frontend
            SLACK_USERNAME: BotRepo
            SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
            SLACK_MESSAGE: "Frontend has changes in its PRs"  
